<h3 ng-if="update">Atualizar grupo de usuários</h3>
<h3 ng-if="!update">Novo grupo de usuários</h3>
<div class="row">
	<div class="col-sm-5">
 		<div class="form-group">
    	<label>Descrição</label>
    	<input type="text" class="form-control" ng-model="dados.description" placeholder="Descrição">
  	</div>
 		<div class="form-group">
    	<button type="button" class="btn btn-default" ng-click="persist(dados)">Salvar</button>
      <button style="margin-left: 10px" type="button" class="btn btn-default" ng-click="clear()">Novo grupo</button>
      <a style="margin-left: 10px" href="#/searchgroup" class="btn btn-default">Grupos de usuários</a>
  	</div>
	</div>
</div>