<h3>Excel</h3>
<div class="ng-cloak">
	<div class="row">
		<div class="col-sm-5">
	 		<div class="form-group">
	    	<label>Descrição da promoção</label>
	    	<input type="text" class="form-control" ng-model="dados.description" ng-readonly="true">
	  	</div>
		</div>
		<div class="col-sm-3">
	 		<div class="form-group">
	    	<label>Data de início</label>
	    	<input type="text" class="form-control" ng-model="dados.startDate" ng-readonly="true">
	  	</div>
		</div>
		<div class="col-sm-3">
	 		<div class="form-group">
	    	<label>Data de término</label>
	    	<input type="text" class="form-control" ng-model="dados.finishDate" ng-readonly="true">
	  	</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
	 		<hr/ ng-show="upload">
		</div>
	</div>
	<div class="row" ng-show="upload">
		<div class="col-sm-12">
	 		<div class="form-group">
	    	<label>Arquivo Excel</label>
	    	<form class="form-inline" id="myForm" name="myForm" method="post" enctype="multipart/form-data">
      	 	<div class="form-group">
						<input class="form-control" type="file" name="excel" accept="*/*">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default" style="margin-left: 10px" ng-click='submit()'>Salvar</button>
					</div>
				</form>
	  	</div>
		</div>
	</div>
	<div class="row" ng-show="!upload">
		<div class="modal-body text-center">
     	<img src="/img/loader.gif" style="margin-top: 20px; width: 140px;">
    </div>
	</div>
	<div class="row" ng-show="erros.length > 0">
		<div class="col-sm-6">
			<div class="alert alert-danger" style="text-align: left" role="alert">
				<p ng-repeat="erro in erros">{{erro}}</p>
			</div>
		</div>
	</div>
</div>