<h3>
	Favoritos
	<a href="#/searchproduct" class="btn btn-default button-title pull-right">Produtos</a>
</h3>
<div class="row">
	<div class="col-sm-5">
 		<div class="form-group">
	    <label>Código ou descrição</label>
	    <angucomplete
          placeholder="Ex: 78965487654"
          pause="300"
          selectedobject="produto"
          titlefield="code,description"
          minlength="1"
          url="/api/product-autocomplete-nostar/"
          inputclass="form-control"
          matchclass="highlight" />
	  </div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th class="text-center" style="width: 120px">Código</th>
					<th>Descrição</th>
					<th class="text-center" style="width: 100px">Valor</th>
					<th class="text-center" style="width: 130px">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="star in dados">
					<td class="text-center" style="width: 120px">{{star.code}}</td>
					<td>{{star.description}}</td>
					<td class="text-center" style="width: 100px">{{star.newValue}}</td>
					<td class="text-center" style="width: 130px">
						<a ng-href="#/persistproductpicture/{{star.id}}" class="btn btn-default btn-xs">Imagens</a>
						<a ng-href="#/persistproduct/{{star.id}}" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
						<button ng-click="toogleStar(star.id)" type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>