<h3>Redefinir senha</h3>
<div class="row">
  <div class="col-sm-5">
    <form name="userForm" role="form">
      <div class="form-group">
        <label>Senha atual</label>
        <input type="password" class="form-control" ng-model="dados.password" placeholder="Senha atual">
      </div>
      <div class="form-group">
        <label>Nova senha</label>
        <input type="password" class="form-control" ng-model="dados.newPassword" maxlength="39" placeholder="Nova senha">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="persist(dados)">Salvar</button>
      </div>
    </div>
  </form>
</div>