<footer class="site-footer">
  <div class="wrapper">
    <section class="contact-bravo__content">
      <div class="contact-vcard">
        <p class="ranchobom-sign">Supermercados Rancho Bom Ltda</p>
        <p class="addr">
          <span class="addr-span addr-street">Rua Marechal Castelo Branco, 5120 - Centro - Schroeder - Santa Catarina</span>
          <span class="addr-span addr-contact">Fone: (47) 3374-6997 - Email: ranchobom@redetop.com.br - <a href="/lojas">Endereço de nossas lojas</a></span>
        </p>
      </div>
    </section>
    <a href="#" class="site-footer__logo">
      <img class="ranchobom-logo__footer" src="/img/logo-footer.png" alt="Supermercados Rancho Bom">
    </a>
  </div>
</footer>
