{% block content %}
<div class="home-content">
  <header class="home-content__header">
    <h1 class="big-title big-title__history">Conheça nossa história</h1>
  </header>

  <section class="history-text">
    <p>Em 1968 a Casa Comercial Erico Borinelli começou suas atividades comerciais, tendo como proprietário o Sr. Erico Borinelli e a Srª Leonor Tomaselli Borinelli. Era uma pequena mercearia com 48m², que fornecia serviços de tafona para os colonos que traziam milho em grão para ser moído e também que servia de lazer oferecendo para a comunidade uma cancha de bocha, mesa de sinuca e bar.</p>

    <p>Em 1º de agosto de 1990, a Casa Comercial Erico Borinelli passou a se chamar Supermercado Rancho Bom Ltda., tendo como influência na razão social o nome do bairro que também se chamava Rancho Bom. A partir desta data, passou a ser adminstrada pelo Sr. Clélio Nevio Baggenstoss e pela sua esposa Sra. Grácia Parecida Borinelli Baggenstoss.</p>

    <p>Em 1º de setembro de 2004 o Supermercado Rancho Bom uniu-se a uma grande rede de supermercados, a Rede Top. Em junho de 2007 foi inaugurada a segunda loja, localida no centro da cidade de Schroeder. Em julho de 2010 foi inaugurada a 3º loja, localizada no bairro Jaraguá Esquerdo e em setembro de 2013 foi inaugurada a 4º loja, localizada no bairro Vieira, ambas na cidade de Jaraguá do Sul.</p>
    <!--<figure class="history-figure">
      <img class="history-image" src="http://placehold.it/350x180" alt="Imagem Histórica">
      <figcaption>Foto Antiga</figcaption>
    </figure>-->
    <p>O Rancho Bom Supermercados vem crescendo e inovando a cada dia, proporcionando mais de 350 vagas de trabalho diretas, garantindo o sustendo de muitas famílias das regiões que atuam.</p>
  </section>
</div>
{% endblock %}