// History
.history-text {
  @include columns(2);
  @include column-gap(1.5em);
  p {
    font-style: italic;
    color: $rblue;
  }
}

.history-figure {
  margin: 0;
  figcaption {
    color: darken($rg, 40);
    text-transform: uppercase;
    font-size: rem(14);
  }
}